<div class="session track-{{stageCounter}}"
     style="grid-column: track-{{stageCounter}}; grid-row: time-{{startId}} / time-{{endId}};">
    <div class="session-title">{{act.what}}</div>
    <span class="session-time">{{act.when}}</span>
    <span class="session-track">{{act.where}}</span>
</div>
