<tr>
    <th>{{where}}</th>
    <td data-before="Now">
        <div>{{now.when}} <span class="beginIn">{{now.fromNow}}</span></div>
        <div class='color-rotate'>{{now.what}}</div>
    </td>
    <td data-before="Next">
        <div>{{next.when}} <span class="beginIn">{{next.fromNow}}</span></div>
        <div class='color-rotate'>{{next.what}}</div>
    </td>
</tr>
